[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Diem?s mission is to build a trusted and innovative financial network that empowers people and businesses around the world.
[access "refs/*"]
	owner = group user/BenxiangGe
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/BenxiangGe
	label-Verified = -1..+1 group user/BenxiangGe
	push = group user/BenxiangGe
	read = group user/BenxiangGe
	rebase = group user/BenxiangGe
	removeReviewer = group user/BenxiangGe
	submit = group user/BenxiangGe
[access "refs/heads/*"]
	create = group user/BenxiangGe
	push = +force group user/BenxiangGe
	pushMerge = group user/BenxiangGe
	read = group user/BenxiangGe
[access "refs/tags/*"]
	push = group user/BenxiangGe
	push = +force group user/BenxiangGe
